.lead{
    color: $color-blanco;
    border-radius: $border-button*2 0 0 0;
    padding-top: 40px;
    background-color: $color-marron;
    display: grid;
    justify-content: center;
    min-height: 500px;
    align-content: center;
    font-family: $font-georema;
    &__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        // grid-template-columns: 1fr 1fr;
        &--text{
            h1{
                font-size: 60px;
                margin-right: 40px;
            }
            .label{
                font-weight: 700;
                font-size: 16px;
            }
        }
        &--form{
            display: flex;
            align-content: center;
            font-weight: 700;
            &-unsubscribe{
                font-size: 10px;
            }
            input{
                background: transparent;
                color: $color-blanco;
                border: none;
                border-bottom: 1px solid #fff;
                width: 100%;
                height: 30px;
                font-size: 16px;
                outline: none;
            }
            button{
                font-size: 18px;
                text-align: center;
                color: $color-blanco;
                padding: 24px 0;
                font-weight: 600;
                background: $color-celeste;
                border-radius: 40px;
                margin: 24px 20%;
                border: 1px solid $color-celeste;
                width: 60%;
                cursor: pointer;
            }
        }
    }
}