$color-marron: #584b4f;
$color-blanco: #efeae1;
$color-footer: #40403e;
$color-iphoneBordes: #040d21;
$color-narranjaBordes: #ffd152;
$color-celeste: #1aa8f5;
$celeste-fondo: #F2F4F6;
$border-button: 25px;
$font-georema: 'georema', sans-serif;
