*{
    margin: 0px;
    padding: 0px;
    font-family: 'Georama', sans-serif;;
}
body{
    background-color: #F2F4F6;
}
/* Seccion logo y menu principal  */
.logoMenu{
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
}
.logoMenu ul li:hover{
    transform: scale(1.3);
}
.logo{
    max-width: 120px;
    padding: 10px 20px;
}

.menuPrincipal{
    margin: 10px;
    list-style: none;
    text-transform: uppercase;
    display: inline-flex;
    padding: 5px 15px;
    align-items: center;
    background-color: #584b4f;
    border-radius: 25px;
}

.menuPrincipal a{
    text-decoration: none;
    color: #efeae1;
    padding: 5px 20px;
    font-weight: 600;
}

/* CIERRE ESTILOS MENU PRINCIPAL */

/* ESTILOS SECCION CONTACTO */
.contact{
    font-size: 20px;
    display: grid;
    justify-content: center;
}

.container{
    display: grid;
    justify-content: space-around;
    width: 900px;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
}
.contribution{
    display: grid;
    margin: 10px;
}


h1{
    font-size: 40px;
}
h4{
    font-size: 25px;
    padding: 10px;
}
p{
    padding: 10px 30px;
}
.contact a{
    text-decoration: none;
    color: #584b4f;
    font-weight: 700;
}
.contact a:hover{
    cursor: pointer;
    color: #ffc340;
}
.contactForm{
    margin: 10px;
    background-color: #FFF;
}
.formElements{
    padding: 30px;

}
input{
    background: transparent;
    color: #c6c6c6;
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    height: 30px;
    font-size: 16px;
    outline: none;
    margin-bottom: 20px;
    font-size: 20px;
}

textarea{
    font-size: 20px;
    width: 100%;
    height: 150px;
    resize: none;
}
button{
    font-size: 18px;
    text-align: center;
    color: #FFF;
    padding: 15px 0;
    font-weight: 600;
    background: #68bbe8;
    border-radius: 40px;
    margin: 24px 20%;
    border: 1px solid #68bbe8;
    width: 60%;
    cursor: pointer;
}

/* CIERRE SECCION CONTACTO */

/* INICIO ESTILOS FOOTER */
footer{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 5px;
    background-color:   #40403e;
    color: white;
    background-image: url(../images/products.jpg);
    background-size: cover;
    height: 180px;
    border-top: 2px solid #ffd152;
    justify-content: space-around;
    align-items: center;
}
.logoFooter{
    height: 50px;
}
.copyright p{
    font-size: medium;
}

.menuFooter ul{
    list-style: none;
    text-transform: uppercase;
}

.menuFooter li{
    padding-bottom: 5px;
}

.menuFooter a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
